<!DOCTYPE html>
<head>
    <link rel="preconnect" href="../../../assets/AV.jpeg" />
</head>
<div class="about-container">
    <div class="left">
        <p>Hi! I’m Ally Vega. I am the owner of All Things by AV. The “AV” stands for my initials, Ally Vega. I am also
            a wife and a mother. The photo below is of my husband, son and I. I started my business intending to provide
            custom products for my family and friends, but it has grown into much more than that! I’m very thankful to
            everyone that I’ve met along the way, and how much my small business has grown from the orders that I’ve
            received. Creating custom gifts is something I truly enjoy. If you need a customized product, please contact
            me. I would love to make it for you! </p>
    </div>
    <div class="right">
        <img src={{img}} alt="image">
    </div>
</div>