nav{
    display: flex;
    justify-content:space-around;
    background-color: var(--global-palette5);
}
nav > a{
    font-family: var(--global-primary-nav-font-family);
    background-color: var(--global-palette5);
    color: var(--global-palette3);
    font-size: 2.5vw;
    text-decoration: none;
}